/* */
:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --accent-color: #c6cd9a;
  --outline-color: #6e941d;
}
.hero {
  text-align: center;
  font-family: var(--default-font-family);
  background-color: rgba(0, 0, 0, 0.905);
  color: white;
  padding: 150px 40px 150px 40px;
}
.hero p {
  font-weight: bold;
  font-size: 36px;
}
.hero h1 {
  font-size: 96px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
  margin-top: 30px;
}
.btn-brand {
  color: white;
  background-color: var(--accent-color);
  padding: 15px 35px;
  border-radius: 4px;
  font-size: 18px;
  margin: 30px;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
  line-height: 80px;
}
h2 {
  font-size: 64px;
  font-family: var(--heading-font-family);
}
p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 30px;
}

.btn-brand-outline {
  padding: 15px 35px;
  border-radius: 4px;
  font-size: 18px;
  margin: 40px;
  color: var(--outline-color);
  border: 1px solid #6e941d;
}
.dots {
  font-size: 25px;
  padding: 40px 0 20px 0;
}
.row {
  margin-top: 70px;
}
.discription-project {
  padding-top: 120px;
  margin-right: 20px;
}
.little-note {
  padding-left: 10px;
  padding-right: 10px;
}
.about-hero {
  margin-top: 0px;
}
.about-hero h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: bold;
  color: #395203;
}
.about-hero p {
  color: rgba(0, 0, 0, 0.7);
}
.about-hero .btn-brand {
  margin: 0px;
}
.about-section {
  max-width: 85%;
  padding: 60px 100px 0px 100px;
}
.workpage-content {
  margin: 0 auto;
  max-width: 70%;
  padding: 75px 40px 150px 40px;
}
.works {
  text-align: center;
}
.work-heading {
  font-size: 56px;
}

.works h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: bold;
}
.works p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}
.logo {
  max-height: 48px;
}

.navigation-bar {
  background-color: rgb(24, 24, 24);
  padding: 15px 30px 15px 30px;
  margin: 0;
}
nav ul {
  padding: 0px;
  margin: 0px;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  font-family: var(--default-font-family);
  font-size: 16px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: white;
}
nav a:hover,
li.active a {
  color: var(--outline-color);
  transition: all 100ms ease-in-out;
}
footer .contact-box {
  background-color: #f6f8f0;
  border-radius: 10px;
  margin-bottom: 20px;
  margin: 0 auto;
}
footer .contact-box h4 {
  font-family: var(--heading-font-family);
  font-size: 48px;
  font-weight: bold;
}
footer .contact-box p {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
}

footer .email-link {
  display: block;
  text-decoration: none;
  color: black;
  font-family: var(--default-font-family);
  font-size: 24px;
}
footer .email-link:hover {
  cursor: pointer;
  color: var(--outline-color);
  transition: all 100ms ease-in-out;
}
.social-links .social-links-icon {
  background-color: var(--accent-color);
  color: white;
  padding: 11px 12px;
  border-radius: 60%;
  text-decoration: none;
  font-size: 20px;
}
.social-links .social-links-icon:hover {
  cursor: pointer;
  background-color: #6e941d;
  transition: all 100ms ease-in-out;
}

@media (max-width: 850px) {
  .discription-project {
    padding: 0;
    text-align: center;
  }
  .discription-project h2 {
    font-size: 44px;
  }

  footer .contact-box h4 {
    font-size: 24px;
  }
  footer .contact-box p {
    font-size: 14px;
    line-height: 1.2;
  }
  .hero {
    padding-top: 125px;
    padding-bottom: 80px;
  }
  .hero h1 {
    font-size: 50px;
    line-height: 2;
  }
  .about-section {
    padding: 0px;
    margin-top: 80px;
  }
  .about-hero {
    text-align: center;
  }
  .about-hero h1 {
    font-size: 36px;
  }
  .workpage-content {
    max-width: 90%;
    padding: 65px 40px 150px 40px;
  }
  .work-heading {
    font-size: 30px;
    line-height: 1.5;
  }
}
